*{ 
	font-size: 30px;
	background-color: pink;
	color: black;

}

p{
	border-bottom: 2px solid black;
	max-width: 940px;
	min-width: 720px;
	margin: 10px auto 10px auto;
	padding: 20px;
	text-align: center;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-top:  2px solid black;
}

