body{
	background-image: url(bg1.png);\
	background-size: cover;
	
	margin-right: auto;
	margin-left: auto;

}

.container{
	height: 590px;
	width: 500px;
	border: solid black 2px;
	border-radius: 6px;
	margin-right: auto;
	margin-left: auto;
}
form{
	color: white;

}

button{
	background-color: lightblue;
	border: 3px solid blue;
	font: 50px;
	height: 40px;
	width: 75px;
}

input {
	height: 25px;
	width: 150px;
	padding-left: center;
	padding-top: 10px;
	padding-right: center;
	font-size: 20px;
	border: 2px solid black;
	margin-bottom: 10px;
	text-align: center;
}

#ankayam{
	height: 250px;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

p{
	font-size: 30px;
	font-weight: bold;
	color: black;
}
